<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ meta.title }}</title>
  <script defer src="https://pro.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-CucLC75yxFXtBjA/DCHWMS14abAUhf5HmFRdHyKURqqLqi3OrLsyhCyqp83qjiOR" crossorigin="anonymous"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.0.13/js/brands.js" integrity="sha384-44Hl7UlQr9JXHFcZOp9qWHk2H1lrsAN/cG3GNgB2JqbciecuJ2/B9sjelOMttzBM" crossorigin="anonymous"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-BUkEHIKZJ0ussRY3zYfFL7R0LpqWmucr9K38zMTJWdGQywTjmzbejVSNIHuNEhug" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
  <link rel="stylesheet" href="https://use.typekit.net/msk6hap.css">
  <link href="/styles/global.min.css" rel="stylesheet">
  {{#if viewStyles}}
  <style>
    {{{ viewStyles }}}
  </style>
  {{/if}}
</head>

<body>
  <header id="site-header">
    <h1>
      <a href="/"><span>n</span><span>s</span><span>i</span><span>d</span><span>r</span></a>
    </h1>
  </header>
  {{{body}}}
  <footer id="site-footer">
    <div>
      <small>&copy; {{ year }} N-Sider Media</small>
      <a href="https://github.com/n-sider"><i class="fab fa-github"></i></a>
      <ul>
        <li><a href="/rss"><i class="fas fa-rss-square"></i></a></li>
        <li><a href="https://twitter.com/nsider"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://www.facebook.com/N-Sider-141311642565331/"><i class="fab fa-facebook-square"></i></a></li>
      </ul>
    </div>
  </footer>
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
