<!doctype html>

<html lang="en">
<head>
  {{#if meta.analytics}}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ meta.analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ meta.analytics }}');
  </script>

  {{/if}}
  <meta charset="utf-8">
  {{#unless fullViewport}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{/unless}}
  <title>{{ meta.title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#16A1FF">
  <meta name="msapplication-TileColor" content="#16A1FF">
  <meta name="theme-color" content="#16A1FF">

  <meta name="description" content="{{ meta.description }}">
  <meta property="og:site_name" content="{{ meta.og.siteName }}">
  <meta property="og:title" content="{{ meta.og.title }}">
  <meta property="og:description" content="{{ meta.og.description }}">
  <meta property="og:image" content="{{ meta.og.image }}">
  <meta property="og:url" content="{{ meta.og.url }}">
  <meta property="fb:app_id" content="{{ meta.og.facebook }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="{{ meta.og.imageAlt }}">
  <meta name="twitter:site" content="@{{ meta.og.twitter }}">

  <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/solid.js" crossorigin="anonymous"
    integrity="sha384-U4vTrZsQ4ooEtzL162EZfTtCiJNTXOwGDBzV91//DI5L/h48ibzHBiHJmPLpx2hO"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/brands.js" crossorigin="anonymous"
    integrity="sha384-am5AyalpQCEfbKe6FYiGZc2vX080nrcueZmrbkljxLdQDJ5q5Vu9QDROD/QefEp1"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/fontawesome.js" crossorigin="anonymous"
    integrity="sha384-u3o36ga3mMU6/lK/zdiER4h7pPtAK7wBuN0DrZPH22v01RZL8bKZkULIjxcx2/X/"></script>
  <link href="/styles/fonts.css" rel="stylesheet">
  <link href="/styles/global.min.css" rel="stylesheet">
  <link href="/rss" rel="alternate" type="application/rss+xml" title="nsidr RSS feed">
  {{#if viewStyles}}
  <style>
    {{{ viewStyles }}}
  </style>
  {{/if}}
</head>

<body class="{{ layoutClass }}">
  <header id="site-header">
    <div>
      <h1>
        <a href="/"><span>n</span><span>s</span><span>i</span><span>d</span><span>r</span></a>
      </h1>
      <nav>
        <ul>
          <li><i class="fas fa-seedling"></i></li>
          <li><i class="fas fa-seedling"></i></li>
        </ul>
      </nav>
    </div>
  </header>
  {{{body}}}
  <footer id="site-footer">
    <div>
      <small><a href="/">&copy; {{ year }} N-Sider Media</a></small>
      <a href="https://github.com/n-sider"><i class="fab fa-github"></i></a>
      <ul>
        <li><a href="/rss"><i class="fas fa-rss-square"></i></a></li>
        <li><a href="https://twitter.com/nsider"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://www.facebook.com/N-Sider-141311642565331/"><i class="fab fa-facebook-square"></i></a></li>
      </ul>
    </div>
  </footer>
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
