<article class="post-template">

  <header class="post-header">
    <h1>{{ post.title }}</h1>
    <small>
      <ul>
        {{#each post.authors}}
        <li><a href="/posts?author={{ name.full }}">{{ name.full }}</a></li>
        {{/each}}
      </ul>
    </small>
  </header>

  {{{ post.content }}}

  <footer>
    <ul>
      {{#each post.tags}}
      <li><a href="/posts?tags={{ name }}">{{ name }}</a></li>
      {{/each}}
    </ul>
  </footer>

</article>
