<section>

  <h1>Posts</h1>

  {{#if badFilter}}
  <p>No posts found with these filters.</p>
  {{else if posts}}
  <ol>
    {{#each posts}}
    <li>
      <article class="post-template">

        <header class="post-header">
          <div>
            <h1><a href="/posts/{{ slug }}">{{ title }}</a></h1>
            <small>
              <ul>
                {{#each authors}}
                <li><a href="/posts?authors={{ name.full }}">{{ name.full }}</a></li>
                {{/each}}
              </ul>
              {{ displayDate }}
            </small>
          </div>
        </header>

        <footer>
          <ul>
            {{#each tags}}
            <li><a href="/posts?tags={{ name }}">{{ name }}</a></li>
            {{/each}}
          </ul>
        </footer>

      </article>
    </li>
    {{/each}}
  </ol>

  <footer>
    <a href="{{ pagination.prev }}">Prev</a>
    <a href="{{ pagination.next }}">Next</a>
  </footer>
  {{else}}
  <p>No posts found with these filters.</p>
  {{/if}}

  <aside id="tag-search">
    <input type="text" data-starting-value="{{ currentTag }}" :value="searchTerm"
      @input="autoComplete" @keydown.down="selectDown" @keydown.up="selectUp" @keyup.enter="selectFollow">
    <ul v-if="matchedTags.length > 0">
      <li v-for="(tag, index) in matchedTags" v-bind:class="{ selected: selectedClass(index) }">
        <a :href="'/posts?tags=' + encodeURIComponent(tag.name)">${tag.name}</a>
      </li>
    </ul>
  </aside>

</section>
