<section id="posts">

  <div class="post-list">
    {{#if badFilter}}
    <p>No posts found with these filters.</p>
    {{else if posts}}
    {{> post-previews }}
    <footer class="pagination">
      {{#if pagination.prev}}
      <a href="{{ pagination.prev }}"><span><i class="fas fa-arrow-alt-square-left"></i>prev</span></a>
      {{else}}
      <div></div>
      {{/if}}
      <span>page {{ pagination.current }} of {{ pagination.total }}</span>
      {{#if pagination.next}}
      <a href="{{ pagination.next }}"><span>next<i class="fas fa-arrow-alt-square-right"></i></span></a>
      {{else}}
      <div></div>
      {{/if}}
    </footer>
    {{else}}
    <p>No posts found with these filters.</p>
    {{/if}}
  </div>

  <aside id="tag-search">
    <div class="search-posts">
      <h1>search posts by keyword</h1>
      <input type="text" data-starting-value="{{ currentTag }}" :value="searchTerm"
        @input="autoComplete" @keydown.down="selectDown" @keydown.up="selectUp" @keyup.enter="selectFollow">
      <ul v-if="matchedTags.length > 0">
        <li v-for="(tag, index) in matchedTags" v-bind:class="{ selected: selectedClass(index) }">
          <a :href="'/posts?tags=' + encodeURIComponent(tag.name)" v-html="tag.name"></a>
        </li>
      </ul>
    </div>
  </aside>

</section>
