<article class="post-template">

  <header class="post-header">
    <img src="{{ post.authors.[0].avatarPath }}">
    <div>
      <h1>{{ post.title }}</h1>
      <small>
        by
        <ul>
          {{#each post.authors}}
          <li><a href="/posts?authors={{ name.full }}">{{ name.full }}</a></li>
          {{/each}}
        </ul>
        {{ post.displayDate }}
      </small>
    </div>
  </header>

  <div class="post-body">
    {{{ post.content }}}
  </div>

  <footer>
    <ul>
      {{#each post.tags}}
      <li><a href="/posts?tags={{ name }}">{{ name }}</a></li>
      {{/each}}
    </ul>
  </footer>

</article>
