<article class="article-template">

  <header class="article-header">
    <h1>{{ article.title }}</h1>
    <small>
      {{#if article.authors}}
      <i class="fas fa-user{{#if article.multipleAuthors}}-friends{{/if}}"></i>
      <ol>
        {{#each article.authors}}
        <li>{{ name.full }}</li>
        {{/each}}
      </ol>
      {{/if}}
      <i class="fas fa-calendar"></i> {{ article.displayDate }}
    </small>
  </header>

  <div class="article-body" id="page_{{ currentPage.pageNumber }}">
    <div id="contentarea">
      <div class="markup_main_standard">
        {{{ currentPage.content }}}
      </div>
    </div>
    {{#if currentPage.sidebar}}
    <aside id="sidebar">
      <div class="markup_sidebar_standard">
        {{{ currentPage.sidebar }}}
      </div>
    </aside>
    {{/if}}
  </div>

  {{#if pagination}}
  <div class="pagination">
    {{#if pagination.prev}}
    <a href="{{ pagination.prev }}"><span><i class="fas fa-arrow-alt-square-left"></i>prev</span></a>
    {{else}}
    <div></div>
    {{/if}}
    <span>page {{ pagination.current }} of {{ pagination.total }}</span>
    {{#if pagination.next}}
    <a href="{{ pagination.next }}"><span>next<i class="fas fa-arrow-alt-square-right"></i></span></a>
    {{else}}
    <div></div>
    {{/if}}
  </div>
  {{/if}}

  {{#if article.tags}}
  <footer class="article-footer">
    <span class="icon"><i class="fas fa-tag"></i></span>
    <ul>
      {{#each article.tags}}
      <li><a href="/archive?tags={{ name }}">{{ name }}</a></li>
      {{/each}}
    </ul>
  </footer>
  {{/if}}

</article>
