{{#if fullViewport}}
<aside class="toggle-responsive show-responsive">
  <a href="{{ currentLink }}">
    <span><i class="fas fa-arrow-alt-square-left"></i>Return to mobile-friendly mode</span>
  </a>
</aside>
{{else}}
<aside class="toggle-responsive show-desktop">
  <a href="?desktop=true">
    <span>View in legacy (desktop) mode<i class="fas fa-arrow-alt-square-right"></i></span>
  </a>
</aside>
{{/if}}

<article class="article-template">

  <header class="article-header">
    <h1>{{ article.title }}</h1>
    <small>
      {{#if article.authors}}
      <span>
        <i class="fad fa-user{{#if article.multipleAuthors}}-friends{{/if}}" style="--fa-secondary-opacity: 0.70"></i>
        <ol>
          {{#each article.authors}}
          <li>{{ name.full }}</li>
          {{/each}}
        </ol>
      </span>
      {{/if}}
      <span>
        <i class="fad fa-calendar" style="--fa-secondary-opacity: 0.70"></i> {{ article.displayDate }}
      </span>
      {{#if article.tags}}
      <span>
        <i class="fas fa-tag{{#if article.multipleTags}}s{{/if}}"></i>
        <ul>
          {{#each article.tags}}
          <li><a href="/archive?tags={{ encodedName }}">{{ name }}</a></li>
          {{/each}}
        </ul>
      </span>
      {{/if}}
    </small>
  </header>

  <div class="article-body" id="page_{{ currentPage.pageNumber }}">
    <div id="contentarea">
      <div class="markup_main_standard">
        {{{ currentPage.content }}}
      </div>
    </div>
    {{#if currentPage.sidebar}}
    <aside id="sidebar">
      <div class="markup_sidebar_standard">
        {{{ currentPage.sidebar }}}
      </div>
    </aside>
    {{/if}}
  </div>

  {{#if pagination}}
  <footer class="pagination">
    {{#if pagination.prev}}
    <a href="{{ pagination.prev }}{{#if fullViewport}}?desktop=true{{/if}}">
      <span><i class="fas fa-arrow-alt-square-left"></i>prev</span>
    </a>
    {{else}}
    <div></div>
    {{/if}}
    <span>page {{ pagination.current }} of {{ pagination.total }}</span>
    {{#if pagination.next}}
    <a href="{{ pagination.next }}{{#if fullViewport}}?desktop=true{{/if}}">
      <span>next<i class="fas fa-arrow-alt-square-right"></i></span>
    </a>
    {{else}}
    <div></div>
    {{/if}}
  </footer>
  {{/if}}

</article>
