<ol class="post-previews">
  {{#each posts}}
  <li>
    <a href="/posts/{{ slug }}">
      <article class="{{ topic }}">

        <header class="preview-header">
          {{#if featureImage}}
          <div class="feature-image">
            <span style="background-image: url('{{ featureImage }}')"></span>
          </div>
          {{/if}}
          <div class="title-byline">
            <img src="{{ getMood authors.[0] mood }}">
            <div>
              <h1>{{ title }}</h1>
            </div>
          </div>
        </header>

        <div class="preview-body">
          {{{ brief }}}
        </div>

        <footer>
          <span class="read-more">
            <span>read more<i class="fas fa-arrow-alt-square-right"></i></span>
          </span>
        </footer>

      </article>
    </a>
  </li>
  {{/each}}
</ol>
