<article class="post-template {{ post.topic }}">

  {{#if isFeatured}}
  <div class="featured"><i class="fad fa-rocket" style="--fa-secondary-opacity: 0.60"></i>Featured Post</div>
  {{/if}}
  {{#if post.shouldMoveFeatureImage}}
  <div class="feature-image" style="background-image: url('{{ post.featureImage }}')">
    <img src="{{ post.featureImage }}" alt="{{ post.title }}">
  </div>
  {{/if}}

  <header class="post-header{{#if post.shouldMoveFeatureImage}} feature-overlay{{/if}}">
    <div class="title-byline">
      <img src="{{ getMood post.authors.[0] post.mood }}">
      <div>
        <h1><a href="/posts/{{ post.slug }}">{{ post.title }}</a></h1>
        <small>
          <i class="fad fa-user{{#if post.multipleAuthors}}-friends{{/if}}" style="--fa-secondary-opacity: 0.70"></i>
          <ul>
            {{#each post.authors}}
            <li><a href="/posts?authors={{ name.full }}">{{ name.full }}</a></li>
            {{/each}}
          </ul>
          <i class="fad fa-calendar" style="--fa-secondary-opacity: 0.70"></i> {{ post.displayDate }}
          {{#if isFeatured}}
          {{#if post.reactionSummary.total}}
          <span class="reactions">
            <i class="fas fa-grin"></i>
            <span class="total">{{ post.reactionSummary.total }}</span>
            <ul class="tooltip">
              {{#if post.reactionSummary.thumbsUp}}
              <li class="thumbs-up"><i class="fad fa-thumbs-up"></i>{{ post.reactionSummary.thumbsUp }}</li>
              {{/if}}
              {{#if post.reactionSummary.laugh}}
              <li class="laugh"><i class="fas fa-laugh-squint"></i>{{ post.reactionSummary.laugh }}</li>
              {{/if}}
              {{#if post.reactionSummary.wow}}
              <li class="wow"><i class="fas fa-surprise"></i>{{ post.reactionSummary.wow }}</li>
              {{/if}}
              {{#if post.reactionSummary.sad}}
              <li class="sad"><i class="fas fa-sad-tear"></i>{{ post.reactionSummary.sad }}</li>
              {{/if}}
            </ul>
          </span>
          {{/if}}
          {{else}}
          <span class="reactions on-post" v-if="postTotals.total" v-on:click="scrollToReact()">
            <i class="fas fa-grin"></i>
            <span class="total" v-html="postTotals.total"></span>
            <ul class="tooltip">
              <li class="thumbs-up" v-if="postTotals.thumbsUp"><i class="fad fa-thumbs-up"></i>${postTotals.thumbsUp}</li>
              <li class="laugh" v-if="postTotals.laugh"><i class="fas fa-laugh-squint"></i>${postTotals.laugh}</li>
              <li class="wow" v-if="postTotals.wow"><i class="fas fa-surprise"></i>${postTotals.wow}</li>
              <li class="sad" v-if="postTotals.sad"><i class="fas fa-sad-tear"></i>${postTotals.sad}</li>
            </ul>
          </span>
          {{/if}}
        </small>
      </div>
    </div>
  </header>

  <div class="post-body">
    {{{ post.contentMinusFeatureImage }}}
  </div>

  <footer class="post-footer">
    {{#if post.tags}}
    <span class="tag-icon"><i class="fas fa-tag{{#if post.multipleTags}}s{{/if}}"></i></span>
    {{/if}}
    <ul>
      {{#each post.tags}}
      <li><a href="/posts?tags={{ encodedName }}">{{ name }}</a></li>
      {{/each}}
    </ul>
    <span class="top-icon"><i class="fas fa-arrow-alt-up"></i></span>
  </footer>

</article>
